.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a9b5b8;
  background-image: url("../../public/pattern.webp");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  background-attachment: fixed;
}

.main {
  width: 100%;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
}

.introText {
  max-width: 700px;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
 
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
  background-color: #ffffffc6;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    color: #000;
    text-transform: uppercase;
     padding-top: 50px
  }
  p {
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center;
    color: #000;
     padding-bottom: 30px
  }
  .image,
  .imageVert {
    box-shadow: 0 1px 13px -7px #00000020;
    img {
      width: 100%;
      max-width: 1444px;
      height: auto;
      max-height: 90vh;
      margin: 0 auto;
      display: block;
    }
  }
}
