.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a9b5b8;
    background-image: url("../../public/pattern.webp");
  background-repeat: repeat; /* or 'no-repeat', 'repeat-x', etc. */
  background-size: auto; /* or 'cover', 'contain', etc. */
  background-position: top left; /* adjust as needed */
}

.main {
  width: 100%;
}

h1.heading {
  display: block;
  font-size: 100px;
  font-weight: 100;
  /* text-transform: uppercase; */
  letter-spacing: -8px;
  font-style: italic;
}

.horizontalImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Crucial for containing the image if it moves outside its initial bounds */
  overflow: hidden;
}

.responsiveImage {
  height: 100vh;
  width: auto;
  max-width: 100vw;
  object-fit: contain;
  /* Remove any default transitions or transforms here, as we'll control it with inline style */
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 2rem;
}

.introText {
  max-width: 700px;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h2 {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center;
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    :global(img) {
      filter: none;
      mix-blend-mode: normal;
      width: 100%;
      height: auto;
      object-fit: cover;
      border: 20px solid #fff;
    }
  }

  &:not(.double) {
    .image {
      max-width: 80%;
      width: 2000px;
      margin: 0 auto;
    }
  }

  &.double {
    flex-direction: column;

    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
    }

    .image {
      flex: 1 1 45%;
      max-width: 45%;

      :global(img) {
        width: 100%;
        height: auto;
        border: 20px solid #fff;
        max-height: 85vh;
      }

      &:first-child img {
        border-right-width: 10px;
        margin-right: -1px;
      }
      &:last-child img {
        border-left-width: 10px;
        margin-left: -1px;
      }
    }

    @media (max-width: 768px) {
      .image {
        max-width: 100%;
        flex-basis: 100%;
      }

      .images {
        flex-direction: column;
      }
    }
  }
}
