.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a9b5b8;
    background-image: url("../../public/webb-dark.png");
  background-repeat: repeat; /* or 'no-repeat', 'repeat-x', etc. */
  background-size: auto; /* or 'cover', 'contain', etc. */
  background-position: top left; /* adjust as needed */
}

.main {
  width: 100%;
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}


.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #fff;
  padding: 2rem;
  
}

.introText {
  max-width: 700px;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  min-height: 80vh;
  background-color: #101010bc;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.7;
    text-align: center;
    color: #fff;
  }

  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
      max-width: 1800px;
      width: 70%;
      margin: 0 auto;
    :global(img) {
      filter: none;
      mix-blend-mode: normal;
      width: 100%;
      height: auto;
      object-fit: cover;
      border: 0;
      box-shadow:1px 1px 20px -6px #00000067;
    }
  }
}
